.img {
  width: 320px;
  border: 1px solid #000000;
  padding: 5px;
}

.header {
  background-color: #CAD5D9;
  color: #000000;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:auto;
  display: block;
  position: relative;
}

.img-header {
  float: left;
  height: auto;
  margin-right: 20px;
  overflow: hidden;
  display: inline-block;
}

.txt-header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}



body {
  width: 1020px;
  margin: auto;
  padding-top: 120px;
  background: url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Skills Meter*/

.meter {
  height: 24px;  /* Can be anything */
  position: relative;
  border: 1px solid #f1f1f1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 1em;
}

.meter > span {
  display: block;
  height: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  position: relative;
  overflow: hidden;
}

footer {
  background-color: white;
  border-top: 1px;
  border-left: 0px;
  border-right: 0px;
  border-color: black;
  border-style: solid;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.meter > span  > span{
  margin-left: 4px;
  color: #fff;
}
.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
  -webkit-gradient(linear, 0 0, 100% 100%,
    color-stop(.25, rgba(255, 255, 255, .2)),
    color-stop(.25, transparent), color-stop(.5, transparent),
    color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.75, rgba(255, 255, 255, .2)),
    color-stop(.75, transparent), to(transparent)
    );
  background-image:
  -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
    );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@-webkit-keyframes move {
  0% {
   background-position: 0 0;
 }
 100% {
   background-position: 50px 50px;
 }
}

.work li span {
    float: right;
}

/*Custom Colors*/
.emerald > span {
  background-color: #2ecc71;
}
.carrot > span {
  background-color: #e67e22;
}
.wisteria > span{
  background-color: #8e44ad;
}
.sunflower > span{
  background-color: #f1c40f;
}
.midnight > span{
  background-color: #2c3e50;
}
.pomengrate > span{
  background-color: #c0392b;
}
.asbestos > span{
  background-color: #7f8c8d;
}

.body {
  background-color: #CAD5D9;
  color: #000000;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 700px;
  margin:auto;
  display: block;
  position: relative;
}

.sidebar {
  width: 320px;
  float: left;
  margin-left: -10px;
  margin-top: -30px;
  background-color: #CAD5D9;
  background-size: auto;
  border-right: 1px solid #f1f1f1;
}

.sidebar p {
  font-style: italic;
}

* {
    -webkit-box-sizing: border-box; /* Safari/Chrome */
    -moz-box-sizing: border-box;    /* Firefox  */
    box-sizing: border-box;
}

.content {
    display: inline-block;
    width: 700px;
    float: right;
    background-color: #CAD5D9;
    padding-right: 40px;
    margin-top: -30px;
    margin-right: -10px;
}

h2.title {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0px;
}


.linkbox
 {
   color: white;
   font-size: 19px;
   text-align:center;
   width: 200px;
   background-color: #1A3380;
   display: block;
   margin: 20px;
   padding: 30px;
   border-radius: 30px;
   border: 1px solid black;
 }

.logo
 {
   margin: 20px;
   padding: 30px;
 }

 .usimage
{
  width: 960px;
 margin-left:auto;
 margin-right:auto;
}

h2.usa{
  padding-left: 32px;
}

h2.interests
{
  float: left;
}

.label-info {
  float: right;
}

.label-success {
  float: right;
}

.left {
  width: 310px;
  float: left;
  padding-left: 0px;
}

.center {
  width: 310px;
  float: left;
  margin-left: 0px;
}

.right {
  width: 320px;
  float: left;
  padding: 0px;
}

 a:hover{
   background-color: red;
   color: black;
 }

 a:link {text-decoration:none;}

table {
  border-collapse:collapse;
  border:1px solid black;
}


 td {
  border:1px solid black;
  text-align:left;
   padding:5px;
}

  th {
   border:1px solid black;
   text-align:center;
  }
